* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "roboto", sans-serif;
  font-weight: 400;

  
}

.logo {
    text-align: center;
    padding: 20px;
    
  }



/* home picture area */

.homepic {
    height: 80vh;
    background-image: url(/image/homepic.jpg);
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.271);
   
    background-size: cover;
    display: grid;
    clear: both;
    margin: 0px 0px;
}

.homepic img {
    filter: brightness(20%);
}

.container {
  width: 100%;
  margin: 0 0;
  text-align: center;
  color: white;
  opacity: 3;

  
  
}

h1 {
  font-weight: 300;
  font-size: 1.5em;
  margin-top: 0;
}

.slogan {
  font-size: 2.5rem;
  margin-bottom: 2em;
  font-weight: 900;
  margin-top: 1em;
}

.slogan span {
  font-weight: 300;
  display: block;
  font-size: 2rem;
}

.button {
  display: inline-block;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  border-width: 4px;
  border-style: solid;
  padding: 0.5em 1.75em;
}

.button-accent {
  color: #0afcfc;
  border-color: #0afcfc;
}

.button-accent:hover,
.button-accent:focus {
  background: #0afcfc;
  color: white;
}

@media (min-width: 60rem) {
  .button {
    font-size: 1rem;
  }
}


/* text box */ 

.home-about-textbox {
  background-color: #000000;
  padding: 3em;
  width: 100%vw;
  margin-left: 0%;
  outline: 2px solid #0afcfc;
  outline-offset: -2.5em;
  color: whitesmoke;
  position: relative;
}

.home-about-textbox h2 {
  color: #0afcfc;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0.3em;
  background: black;
  padding: 0 0.25em;
  text-align: center;
}

@media (max-width:60rem) {
 .button {
  
  font-size: .8rem;
 
 }

 .slogan {
    font-size: 2rem;
    margin-bottom: 2em;
 }

 .slogan span {
     font-size: 1.5rem;
 }





}

        


/* navigation style start here */

header {
  background: white;
  text-align: left;
  width: 100%;
  margin-left: 0;
}

@media (min-width:60rem) {
    .topnav {
        margin-left: 0rem;
        all: unset;
        display: inline;
       
       
       
        
    }

    nav {
        display: flex;
    }

    nav ul {
        display: flex;
        justify-content: center;
       
        
       
        
        
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav li {
        margin-left: 0;
        margin-bottom: 0;
        padding: 10px
        
        
    }

  nav a::before {
      content: '';
      display: block;
      height: 5px;
      background: turquoise;
      position: absolute;
  }

  i.fas.fa-bars {
      display: none;
  }

  i.fas.fa-search {
      
      color:white;
    
    
      
  }
}




  #searchbar {
      position: absolute;
      margin-left: 150px;
      border-radius: 3rem;
      height: 30px;
      margin-bottom: 15px;
      border: black;
      
  }

 
      
          





nav {
   
    text-align: left;
    
    left: 0;
    width: 100%;
    display: none;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: black;
    
  }
  
  nav li {
    margin: 0;
    margin-left: 1em;
    padding: 1em;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    
  }
  
  nav a:hover {
    color: turquoise;
    text-decoration: solid;
  }
  
  #hamburger-menu:checked ~ nav {
    display: block;
    top: 34%;
    background-color: white;
    
  }
  
  #hamburger-menu {
    display: none;
  }
  
  

  .topnav {
      top: 30%;
      
  }

  i.fas.fa-bars {
      margin-left: 1rem;
      margin-bottom: 2em;
  }















/* pictures homepage */

.news {
   margin-left: auto;
   margin-right: auto;
  }
  
  .home-news {
    margin: 2em;
    position: relative;
    text-align: center;
    
  }
  
  .home-news img {
    display: block;
    text-align: center;
  }


 

 
      


@media (min-width: 60rem) {
  .home-news {
    height: 300px;
    display: inline-block;
    align-items: center;
    margin-top: 1em;
    
    
  }
  .news {
   display: inline-block;
   margin-left: 6em;
   margin-bottom: 4em;
  
   
    
  }

  .news img {

    max-height: 350px;
    display: inline-block;
    
    
 }

}




@media (max-width: 40rem) {
    #deschome {
        margin-left: 3em;
    }
}






/* main */

.home-news {
  
 
  margin-left: 0;
  
}

figure img {
    max-width: 350px;
    padding: 1rem;
    text-align: center;
    

    
}





/* footer */

footer {
    background-color: black;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: 10px;
    margin-right: 0;
}

footer a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  
}

footer li {
    list-style: none;
    margin-bottom: 1em;
   
   border-bottom: white;
}


.footer-column {
    padding: 20px 0px;
    padding-left: 0px;
    
}






@media (min-width: 60rem) {
    .footer-column {
        display: flex;
        padding: 20px 100px;
        position: absolute;
        top: 50%;
        
        
    
    }
}





/* women page */


  
  .women-news {
    
    position: relative;
    text-align: center;
    
  }
  
  .women-img  {
    display: block;
    text-align: center;
    
    
  }


  @media (min-width: 60rem) {
    .women {
      height: 300px;
      float: left;
      align-items: center;
      margin-top: 30px;
      margin-bottom: 30px;
      
    }
    .women-news {
     display: inline-block;
     margin-left: 10%;
    
     
      
    }
  
    .women-img {
  
      display: inline-block;
      
      
        
    }

  .footer-column {
      position: relative;
      top: 70%;
  }


  
  }






  /* Men */




  
.men-news {
    
    position: relative;
    text-align: center;
    
  }
  
  .men-img  {
    display: block;
    text-align: center;
    
    
  }


  @media (min-width: 60rem) {
    .men {
      height: 300px;
      float: left;
      align-items: center;
      margin-top: 30px;
      margin-bottom: 30px;
      
    }
    .men-news {
     display: inline-block;
     margin-left: 10%
    
     
      
    }
  
    .men-img {
  
      display: inline-block;
      
      
        
    }

    .containergallery {

        margin-left: 5em;
    }
}




  /* sucess page */

  .sucess {
      margin-left: auto;
      margin-right: auto;
     
      
  }

  .sucesss {
      display: inline-block;
      text-align: center;
      
  }

  .sucess-img {
      padding-top: 20px;
      margin-left: 5rem;
  }

  .successinfo {
    font-weight: 300;
    display: block;
    font-size: 2rem;
    margin-left: 2em;
  }

  .sucessbutton {
      display: inline-block;
      margin-left: 4em;
  }

  @media (min-width: 60rem) {
      .sucess-img {
          position: absolute;
          left: 30%;
          
      }

      .successinfo {
        font-weight: 300;
        display: block;
        font-size: 2rem;
        margin-top: 8em;
        margin-left: 3em;
      }

      .sucessbutton {
          margin-top: 4em;
          margin-left: 4em;
      }
  }




  /* about us*/

  .aboutinfo {
    font-weight: 300;
    display: block;
    font-size: 1.5rem;
    text-align: center;
    background-color:white;
    color:black;
  }

  .aboutus {
    font-size: 2rem;
    margin-bottom: 1.5em;
    font-weight: 900;
    margin-top: 2em;
    text-align: center;
    color: black;
    border: 5px  black;
    padding: 6px 12px;
    display: inline-block;
    border-radius: 10px;
    position: relative;
    left: 25%;


  }

  @media (min-width: 60rem) {
    .aboutus {

        left: 42%;
    }

    .aboutinfo {
        background-color: white;
        color: black;
    }
    
  }




  /* Contact us */

  .contactus {
    font-size: 2rem;
    margin-bottom: 1.5em;
    font-weight: 900;
    margin-top: 2em;
    text-align: center;
    color:black;
    border: 5px  black;
    padding: 6px 12px;
    display: inline-block;
    border-radius: 10px;
    position: relative;
    left: 25%;
  }

  .contactp {
    font-weight: 300;
    display: block;
    font-size: 1.5rem;
    text-align: center;
    background-color: white;
    color: black;
    
  }

  .contactli {
      list-style: none;
      margin: 20px;
      
      
      
  }

  .contactul {
      background-color: white;
      padding: 20px;
  }


  .contact-column-li {
    list-style: none;
    margin: 20px;
    display: inline-block;
    position: relative;
    left: 20%;
    
  }
  
  .contact-column-ul a{
      color: white;
      

  }

  .contact-column-ul {
      background-color: black;
  }

  @media (min-width: 60rem) {
    .contactus {
        left: 42%;
    }

    .contactp {
        color: black;
        background-color: white;
    }

    .contact-column-li {

        left: 40%;
     
    }

}




/* checkout */

.checkoutlist {
    list-style: none;
    margin: 20px;
}

.payment {
    font-size: 2rem;
    margin-bottom: 1.5em;
    font-weight: 900;
    margin-top: .5em;
    text-align: center;
    color:black;
    border: 5px  black;
    padding: 6px 12px;
    display: inline-block;
    border-radius: 10px;
    position: relative;
    left: 30%;
}

.paymentp {
    font-weight: 300;
    display: block;
    font-size: 1rem;
    text-align: center;
    background-color:white;
    color: black
}

.checkout-img {
    position: relative;
    left: 11%;
   
    
}

.checkouth2 {
    position: relative;
    left: 10%;
    
}

.button-back {
    color: black;
    border-color: black;
    margin-right: 2em;

}

.button-back:hover {
    background-color: black;

}

.checkout-button {
    margin-left: 4em;
}

@media (min-width: 60rem) {

    .payment {
        left: 42%;;
    }

    .checkout-img {
        left: 35%;
    }

   .checkouth2 {
       
    left: 2em;
   }

   .checkout-button {
       position: relative;
       left: 32%;
   }

}




/* women specific */

.womenspecific {
    display: inline-block;
    position: relative;
    
    

    
}
.womenspecific img {

    position: relative;
    height: 400px;
    margin-left: 2em;
    
}

.size {
    list-style: none;
}

.sizediv {
    display: block;
    margin-left: 6em;
    margin-bottom: 2em;
}

.sizeli {
    display: inline-block;
}

.colordiv {
    display: inline-block;
    margin-left: 3em;
}

.quantitydiv {
    display: inline-block;
    margin-left: 1em;
}


.womens-specific-div {
    margin-left: 2em;
    margin-top: 3em;
}

@media (min-width: 60rem) {
 .womenspecific {
     display: grid;
 }

 .sizediv {
     margin-left: 45%;
 }

 .colordiv {
     margin-left: 40%;
 }

 .womens-specific-div {
     margin-left: 36%;
 }



}


/* men specific specific */

.menspecific {
    display: inline-block;
    position: relative;
    
    

    
}
.menspecific img {

    position: relative;
    height: 400px;
    margin-left: 2em;
    
}

.size {
    list-style: none;
}

.sizediv {
    display: block;
    margin-left: 6em;
    margin-bottom: 2em;
}

.sizeli {
    display: inline-block;
}

.colordiv {
    display: inline-block;
    margin-left: 3em;
}

.quantitydiv {
    display: inline-block;
    margin-left: 1em;
}


.men-specific-div {
    margin-left: 2em;
    margin-top: 3em;
}

@media (min-width: 60rem) {
 .menspecific {
     display: grid;
 }

 .sizediv {
     margin-left: 45%;
 }

 .colordiv {
     margin-left: 40%;
 }

 .men-specific-div {
     margin-left: 36%;
 }



}






  
  


      



