* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "roboto", sans-serif;
  font-weight: 400;
}

.logo {
    text-align: center;
    padding: 20px;
    
  }

  header {
      margin-left: 1rem;
  }

/* home picture area */

.homepic {
  height: 80vh;
  background-image: url(/image/homepic.jpg);
  background-color: #333;
  background-blend-mode: soft-light;
  background-size: cover;
  display: grid;
  
  margin: 0px 0px;
}

.container {
  width: 100%;
  margin: 0 0;
  text-align: center;
  color: white;
}

h1 {
  font-weight: 300;
  font-size: 1.5em;
  margin-top: 0;
}

.slogan {
  font-size: 2.5rem;
  margin-bottom: 1.5em;
  font-weight: 900;
  margin-top: 1em;
}

.slogan span {
  font-weight: 300;
  display: block;
  font-size: 2rem;
}

.button {
  display: inline-block;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  border-width: 4px;
  border-style: solid;
  padding: 0.5em 1.75em;
}

.button-accent {
  color: #0afcfc;
  border-color: #0afcfc;
}

.button-accent:hover,
.button-accent:focus {
  background: #0afcfc;
  color: white;
}

@media (min-width: 60rem) {
  .button {
    font-size: 1.5rem;
  }
}

/* text box */ 

.home-about-textbox {
  background-color: #000000;
  padding: 3em;
  width: 100%vw;
  margin-left: -2.5%;
  outline: 2px solid #0afcfc;
  outline-offset: -2.5em;
  color: whitesmoke;
  position: relative;
}

.home-about-textbox h2 {
  color: #0afcfc;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0.3em;
  background: black;
  padding: 0 0.25em;
  text-align: center;
}

/* navigation style start here */

header {
  background: white;
  text-align: left;
  width: 100%;
  margin-left: 1rem;
}

@media (min-width:60rem) {
    .topnav {
        margin-left: 0rem;
        all: unset;
        display: inline;
       
       
       
        
    }

    nav {
        display: flex;
    }

    nav ul {
        display: flex;
        justify-content: center;
       
        
       
        
        
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav li {
        margin-left: 0;
        margin-bottom: 0;
        padding: 10px
        
        
    }

  nav a::before {
      content: '';
      display: block;
      height: 5px;
      background: turquoise;
      position: absolute;
  }





    
}





nav {
  position: absolute;
  text-align: left;
  top: 15%;
  left: 0;
  background: white;
  width: 100%;
  display: none;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
}

nav a:hover {
  color: turquoise;
  text-decoration: solid;
}

#hamburger-menu:checked ~ nav {
  display: block;
  top: 34%;
  background-color: white;
  
}

#hamburger-menu {
  display: none;
}


#search {
    float: right;
    margin-right: 1rem;
    border-radius: 2rem;
    
    
}


.fa-search {
    float: right;
    margin-right: 0rem;
    
    
}









/* pictures homepage */

.news {
  margin-left: auto;
  margin-right: auto;
}

.home-news {
  margin: 100px;
  position: relative;
  
}

.home-news img {
  display: block;
  text-align: center;
}

@media (min-width: 60rem) {
  .home-news {
    max-height: 400px;
    float: left;
    align-items: center;
    
  }
  .news {
    display: flex;
  }

  figure img {
    display: inline;
    
    
  }
}

.home-news {
  
 
  margin-left: 0;
  
}

figure img {
    max-width: 350px;
    padding: 1rem;
    text-align: center;
    

    
}



/* footer */

footer {
    background-color: black;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: 25px;
}

footer a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  
}

footer li {
    list-style: none;
    margin-bottom: 1em;
   
   border-bottom: white;
}


.footer-column {
    padding: 20px 0px;
    padding-left: 0px;
    
}






@media (min-width: 60rem) {
    .footer-column {
        display: flex;
        padding: 20px 100px;
        
    
    }
}


